@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Tango";
    src: url("/fonts/TangoSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
